* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'SourceSansPro-Regular', sans-serif;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}